/* Footer.css */

.footer {
    background-color: #008080;
    color: white;
    padding: 40px 20px;
    margin: 10px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .footer h3 {
    font-size: 1.7rem;
    margin-bottom: 12px;
    color: #6a2e1f;
    padding-bottom: 5px;
  }
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 8px;
    transition: color 0.3s ease-in-out;
    font-size: 1.2rem;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
  }
  
  .footer ul li:hover,
  .footer ul li a:hover {
    color: #f4a261;
  }
  
  .newsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .newsletter input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  .newsletter button {
    background-color: #6a2e1f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    /* transition:  0.3s ease-in-out; */
  }
  
  .newsletter button:hover {
    background-color: #f4a261;
  }
  
  
.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 15px;
  }
  .social-icons+p{
    font-size: 1rem;
    padding: 0.5rem;
  }
  .icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  /* Specific colors for each icon */
  .facebook {
    color: #4992f2;
  }
  
  .instagram {
    color: #e4405f;
  }
  
  .twitter {
    color: #0997f0;
  }
  
  .youtube {
    color: #ff0000;
  }
  
  .whatsapp {
    color: #25d366;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  
  .footer-bottom {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #444;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #6a2e1f;
    font-size: 1.2rem;
    font-weight: 1.2rem;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-links a:hover {
    color:#f4a261;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-grid {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .newsletter {
      flex-direction: column;
      align-items: center;
    }
  
    .newsletter input {
      width: 80%;
    }
  
    .footer-links {
      display: flex;
      flex-direction: column;
    }
  
    .footer-links a {
      margin: 5px 0;
    }
  }
  